
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>  
   
<div class="wrapper">
   
  <header>Check List</header> 
  <div class="inputField">
    <input name="tarefas"type="text" placeholder="Adicione um novo ítem" [(ngModel)]="tarefa" >
    <button class="adicionar" (click)="addTarefa()" class="adicionar">Adicionar</button>
  </div>

  <div class="list">
    <ul class="todoList">
     <li class="list" *ngFor="let item of items"> 
     {{item}} 
     <input type="checkbox">
     <button class="remove" (click)="removeTarefa(item)">Remover</button>     
    </li>
  </ul>
</div>
</div>  

</body>


</html>



<router-outlet></router-outlet>