<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <header>Cadastro</header>
        <div class="name">
            <h2>Nome completo</h2>
            <input type="text" placeholder="Digite seu nome completo">
        </div>

        <div class="username">
            <h2>Nome de usuário</h2>
            <input type="text" placeholder="Intercale seus nomes com símbolos">
        </div>

        <div class="password">
            <h2>Defina uma senha</h2>
            <input type="password">
            <h2>Repita essa senha</h2>
            <input type="password">
        </div>
        <br>
        <button>Cadastrar</button>
    </div>
    <nav>
        <a routerLink="/landing" > landing</a>
        <a routerLink="/login"> login</a>
        <a routerLink="/createuser" >criação</a>
        <a routerLink="/createaction" >todo</a>
      </nav>
</body>
</html>
